<log4net>
	
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5p %logger{1} %message%newline" />
		</layout>
	</appender>
	
	<appender name="errorfile" type="log4net.Appender.FileAppender">
		<file value="D:\source\repos\NKD\AzureFunctions\FunctionApp\Logs\Documentation-Packaging-Details-NKD-Error.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5p %logger{1} %message%newline" />
		</layout>
	</appender>

	<appender name="successfile" type="log4net.Appender.FileAppender">
		<file value="D:\source\repos\NKD\AzureFunctions\FunctionApp\Logs\Documentation-Packaging-Details-NKD-Success.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="WARN" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5p %logger{1} %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="errorfile" />
		<appender-ref ref="successfile" />
	</root>

	<logger name="NHibernate">
		<level value="WARN" />
	</logger>
	
</log4net>